<div class="main-container">
    <div class="container">
        <div class="row">
            <div class="col-6 mx-auto main-form">
                <p class="free text-center mb-4"><span>Edit Profile</span></p>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                <%= render "devise/shared/error_messages", resource: resource %>
                    <div class="form-group">
                        <%= f.text_field :fullname, placeholder: "Fullname", class: "form-control form-design" %>
                    </div>

                    <div class="form-group">
                        <%= f.email_field :email, placeholder: "Email", class: "form-control form-design" %>
                    </div>

                    <div class="form-group">
                        <%= f.password_field :password, placeholder: "New Password(leave blank if you don't want to change it)", class: "form-control form-design" %>
                    </div>

                    <div class="form-group">
                        <%= f.file_field :image, accept: 'image/jpeg, image/gif, image/png' %>
                    </div>

                    <%= f.submit "Save", class: "primary-button" %>
                <% end %>
            </div>
        </div>
    </div>
</div>
