<div class="container border rounded mb-3 py-3 px-0">
    <div class="row "> 
        <div class="col-4 text-center">
            <%= image_tag avatar_url(@user), class: "rounded-circle avatar-medium" %>
        </div>
        <div class="col-4 custom-margin">
            <div class="d-inline-block text-center">
                <a href="<%= following_user_path(@user) %>" class="text-secondary text-decoration-none">
                    <h4><%= @user.followings.count %></h4>
                    <span>following</span>
                </a>
            </div>
            <div class="d-inline-block text-center ml-4">
                <a href="<%= followers_user_path(@user) %>" class="text-secondary text-decoration-none">
                    <h4><%= @user.followers.count %></h4>
                    <span>followers</span>
                </a>
            </div>
        </div>
        <div class="col-3 px-4 margin-25">
            <% if current_user != @user %>
                <div id="follow_form">
                <% if current_user.following?(@user) %>
                    <%= render 'unfollow' %>
                <% else %>
                    <%= render 'follow' %>
                <% end %>
                </div>
            <% end %>  
        </div>  
        <div class="col-8 offset-4">
            <hr>
        </div>
    </div>

    <div class="row mb-2"> 
        <div class="col-4 text-center">
           <span class="h4">
                <%= @user.fullname %>
            </span>
        </div>
        <hr>
        <div class="col-4"> 
            <%= @user.email %>
        </div>

        <div class="col-3 px-4">
            <% if current_user.is_admin? && current_user == @user %>
                <%= link_to 'Admin', admin_dashboard_path, class: 'btn btn-outline-info btn-block' %>
            <% end %>
            <%= link_to "Learned 12 Words", "#", class: 'btn btn-outline-success btn-block' %>
        </div>
    </div>
</div>
