<%= form_for [:admin, @category] do |f| %>
    <%= render "devise/shared/error_messages", resource: f.object %>
    <div class="form-group">
        <%= f.text_field :title, class: "form-control", placeholder: "Title"%>
    </div>
    <div class="form-group">
        <%= f.text_area :description, class: "form-control", placeholder: "Description", cols: "30", rows: "5" %>
    </div>

    <div class="form-group">
        <%= f.submit msg, class: "btn btn-block btn-outline-primary"%>
    </div>
<% end %>