<section id="breadcrumb" class="mt-4">
    <div class="container">
        <ol class="breadcrumb">
            <li class="active">
                <%= link_to "Dashboard", admin_dashboard_path, class: "text-decoration-none"%> >
                <%= link_to "Categories", admin_categories_path, class: "text-decoration-none"%> >
                <%= link_to "New Category", new_admin_category_path, class: "text-decoration-none"%>
            </li>
        </ol>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
            <div class="card-header">
                Dashboard
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= link_to "Users", admin_users_path, class: "text-dark text-decoration-none"%></li>
                <li class="list-group-item"><%= link_to "Categories", admin_categories_path, class: "text-dark text-decoration-none"%></li>
            </ul>
            </div>  
        </div>
        <div class="col-md-9">
             <div class="card">
                <div class="card-header">
                    New Category
                </div>
                <div class="card-body"> 
                    <%= render 'form', msg: "Create Category"%>       
                </div>
            </div>
        </div>
    </div>
</div>
