<!DOCTYPE html>
<html>
  <head>
    <title>Educhamp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <% unless flash.empty? %>
    <script type="text/javascript">
      <% flash.each do |type, message| %>
          <% type = 'success' if type == 'notice' %>
          <% type = 'error' if type == 'alert' %>
          toastr['<%= type %>']('<%= message %>')
      <% end %>
        </script>
    <% end %>
    <%= yield %>
  </body>
</html>
